<!doctype html>
<head>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    // acousticness attribute
    $( "#acousticnessSlider" ).slider({
      value:0.5,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#acousticnessAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#acousticnessAmount" ).val( $( "#acousticnessSlider" ).slider( "value" ) );
    // danceability attribute
    $( "#danceabilitySlider" ).slider({
      value:0.7,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#danceabilityAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#danceabilityAmount" ).val( $( "#danceabilitySlider" ).slider( "value" ) );
    // energy attribute
    $( "#energySlider" ).slider({
      value:0.6,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#energyAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#energyAmount" ).val( $( "#energySlider" ).slider( "value" ) );
    // instrumentalness attribute
    $( "#instrumentalnessSlider" ).slider({
      value:0.4,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#instrumentalnessAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#instrumentalnessAmount" ).val( $( "#instrumentalnessSlider" ).slider( "value" ) );
    // liveness attribute
    $( "#livenessSlider" ).slider({
      value:0.2,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#livenessAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#livenessAmount" ).val( $( "#livenessSlider" ).slider( "value" ) );
    // loudness attribute
    $( "#loudnessSlider" ).slider({
      value:0.7,
      min: 0,
      max: 1,
      step: 0.01,
      slide: function( event, ui ) {
        $( "#loudnessAmount" ).val( ui.value );
      },
      animate: "slow"
    });
    $( "#loudnessAmount" ).val( $( "#loudnessSlider" ).slider( "value" ) );
  } );
  var acousticness = document.getElementById("acousticnessSlider").value;
  var danceability = document.getElementById("danceabilitySlider").value;
  var energy = document.getElementById("energySlider").value;
  var instrumentalness = document.getElementById("instrumentalnessSlider").value;
  var liveness = document.getElementById("livenessSlider").value;
  // var loudness = document.getElementById("loudnessSlider").value;

    $.ajax({
      url: "/generate",
      type: "patch",
      data: {acousticness: acousticness, danceability: danceability, energy: energy, instrumentalness: instrumentalness, liveness: liveness}
    })
  </script>
</head>

<body>
  <h1>Please put your preferences below!</h1>
  <p>
    <label for="acousticnessAmount"> acousticness preference level (0.01 increments):</label>
    <input type="text" id="acousticnessAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="acousticnessSlider"></div>

  <p>
    <label for="danceabilityAmount"> danceability preference level (0.01 increments):</label>
    <input type="text" id="danceabilityAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="danceabilitySlider"></div>

  <p>
    <label for="energyAmount"> energy preference level (0.01 increments):</label>
    <input type="text" id="energyAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="energySlider"></div>

  <p>
    <label for="instrumentalnessAmount"> instrumentalness preference level (0.01 increments):</label>
    <input type="text" id="instrumentalnessAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="instrumentalnessSlider"></div>

  <p>
    <label for="livenessAmount"> liveness preference level (0.01 increments):</label>
    <input type="text" id="livenessAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="livenessSlider"></div>

  <p>
    <label for="loudnessAmount"> loudness preference level (0.01 increments):</label>
    <input type="text" id="loudnessAmount" readonly style="border:0; color:#0fc659; font-weight:bold;">
  </p>
  <div id="loudnessSlider"></div>

<div><%= button_to "Generate my playlist", generate_path(@hash), :class => "button large", :method => :patch %></div>
</body>





