<!-- display songs of the most recently made playlist-->
<% @new_playlist.tracks do |track| %>
  <p><%= track.name %></p>
<% end %>

<div><%= button_to "View My Playlists", spotify_path(), :class => "button medium", :method => :get %></div>

